<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coliseum Turn Order Calculator</title>
</head>
<body>
    <h1>Coliseum Turn Order Calculator v0.2.0</h1>
    <p><a href="changelog.html">Changelog</a> | <a href="https://www1.flightrising.com/forums/gde/2945135">Forum Thread</a></p>
    <div id="app">
        <h3>Dragons</h3>
        <ol>
            <li v-for="dragon in dragons">{{dragon.name}} (QCK = {{dragon.quickness}}, {{dragon.ambush}} Ambushes)
                <button type="button" @click="deleteDragon(dragon)">X</button>
            </li>
        </ol>
        <h4>Add Dragon</h4>
        <p>Name: <input type="text" v-model="newDragon.name">
            QCK: <input type="number" v-model="newDragon.quickness">
            # of Ambushes: <input type="number" min="0" max="2" v-model="newDragon.numAmbush">
            <button type="button" @click="addDragon">Add</button>
        </p>

        <h3>Monsters</h3>
        <ol>
            <li v-for="monster in monsters">{{monster.name}} (QCK = {{monster.quickness}})
                <button type="button" @click="deleteMonster(monster)">X</button>
            </li>
        </ol>

        <p>Select a method to add monsters:
            <select v-model="addType">
                <!-- <option value="encounter">Load Whole Encounter</option> (Not yet implemented) -->
                <option value="monster">Load Single Monster</option>
                <option value="custom">Create Custom Monster</option>
            </select></p>

        <div v-show="addType === 'encounter'">

        </div>

        <div v-show="addType === 'monster'">
            <h4>Load Single Monster</h4>
            <p>Choose a venue:
            <select>
                <option v-for="venue in venues" :value="venue" @click="loadMonsters(venue)">{{venue}}</option>
            </select>
            </p>

            <p v-show="loadedMonsters.length > 0">Choose a monster to add:
                <select>
                    <option v-for="mon in loadedMonsters" @click="addMonster(mon.name, mon.quickness)">{{mon.name}}</option>
                </select>
            </p>
        </div>

        <div v-show="addType === 'custom'">
            <h4>Create Custom Monster</h4>
            <p>Name: <input type="text" v-model="newMonster.name">
                QCK: <input type="number" v-model="newMonster.quickness">
                <button type="button" @click="addCustomMonster">Add</button>
            </p>
        </div>


        <p>Number of rounds: <input type="number" max="50" v-model="numRounds"></p>
        <button type="button" @click="calculateTurns"><h4>Calculate Turn Order</h4></button>

        <div v-show="turnsCalculated">
            <h3>Turn Order</h3>
            <ol>
                <li v-for="item in turns">{{item}}</li>
            </ol>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/papaparse@5.3.0/papaparse.min.js"></script>
    <script src="vue.js"></script>
</body>
</html>